@using Stimulsoft.Report.Web;
@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Connecting to Data from Code</h2>
<br />

@Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
{
    Actions =
    {
        GetReport = "GetReport",
        ViewerEvent = "ViewerEvent"
    }
})