@using Stimulsoft.Report.Web;
@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Using Custom Save Dialog in the DesignerFx</h2>

@Html.Stimulsoft().StiMvcDesignerFx(new StiMvcDesignerFxOptions()
{
    Actions =
    {
        GetReport = "GetReport",
        PreviewReport = "PreviewReport",
        SaveReport = "SaveReport",
        DesignerEvent = "DesignerEvent"
    },
    Behavior =
    {
        SaveReportMode = StiSaveMode.Visible
    }
})