@using Stimulsoft.Report.Web;
@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Change the Viewer Theme</h2>
<br />

@Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
{
    Actions =
    {
        GetReport = "GetReport",
        ViewerEvent = "ViewerEvent"
    },
    Appearance =
    {
        BackgroundColor = System.Drawing.Color.Gainsboro
    },

    Theme = StiViewerTheme.Office2013VeryDarkGrayPurple
})