@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Send Report by Email</h2>

@Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
{
    Actions =
    {
        GetReport = "GetReport",
        EmailReport = "EmailReport",
        ViewerEvent = "ViewerEvent"
    },
    Toolbar =
    {
        ShowSendEmailButton = true
    }
})