@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "MS SQL Cache";
}

<h2>MS SQL Cache</h2>
<br />

@Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
{
    Actions =
    {
        GetReport = "GetReport",
        ViewerEvent = "ViewerEvent"
    }
})