@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "MS SQL cache helper";
}

<h2>MS SQL cache helper</h2>
<br />

@Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
{
    Actions =
    {
        GetReport = "GetReport",
        ViewerEvent = "ViewerEvent"
    }
})