@{
    ViewBag.Title = "Home Page";
}

<h2>Using the Viewer and Designer in One Project</h2>

<br />
@Html.ActionLink("Design Report", "Designer")
<br /><br />
@Html.ActionLink("View Report", "Viewer")