html {
	height: 100%;
	overflow: hidden;
}

body {
    font-size: 12px;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
	padding: 0;
    height: 100%;
	background-color: #fff;
	overflow: hidden;
}

table.main {
	width: 100%;
	height: 100%;
}

td.menu {
	width: 300px;
	height: 100%;
}

td.viewer {
	background-color: #e8e8e8;
	height: 100%;
}

td.menu,
td.viewer {
	vertical-align: top;
}

td.line {
	background-image: url(Images/line.png);
	background-color: #e8e8e8;
	background-repeat: repeat-y;
	width: 10px;
}

td.link {
	text-align: center;
	vertical-align: bottom;
}

div.line {
	width: 5px;
}

img.link {
	padding: 10px;
}