@using Stimulsoft.Report.Mvc;
@using Stimulsoft.Report.Web;

@{
    ViewBag.Title = "Index";
}

<h2>Using the Full-Screen Mode in the Viewer</h2>
<br />

@Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
{
    Actions =
    {
        GetReport = "GetReport",
        ViewerEvent = "ViewerEvent"
    },
    Appearance =
    {
        FullScreenMode = true
    },
    Toolbar =
    {
        DisplayMode = StiToolbarDisplayMode.Separated
    }
})