@{
    ViewBag.Title = "Index";
}

<h2>Using Business Objects in the Report</h2>

DataSource:
<br />
@Html.ActionLink("ITypedList", "ActionITypedList")
<br />
@Html.ActionLink("IEnumerable", "ActionIEnumerable")
<br />
<br />
BusinessObject:
<br />
@Html.ActionLink("ITypedList", "ActionITypedListBO")
<br />
@Html.ActionLink("IEnumerable", "ActionIEnumerableBO")