@{
    ViewBag.Title = "Index";
}

<h2>Using Business Objects in the Report</h2>

<br />
@Html.ActionLink("IEnumerable", "ActionIEnumerable")
<br /><br />
@Html.ActionLink("ITypedList", "ActionITypedList")