@{
    ViewBag.Title = "Index";
}

<h2>Using Business Objects in the Report</h2>

<br />
@Html.ActionLink("ITypedList [DataSource]", "ActionITypedList")
<br />
<br />
@Html.ActionLink("IEnumerable [DataSource]", "ActionIEnumerable")
<br />
<br />
@Html.ActionLink("IEnumerable [BusinessObject]", "ActionIEnumerableBO")