@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Using a Custom Data Adapter</h2>

@Html.Stimulsoft().StiMvcDesigner(new StiMvcDesignerOptions()
{
    Actions =
    {
        GetReport = "GetReport",
        DesignerEvent = "DesignerEvent"
    }
})