Please use the following links for report export:
<br />
<br /><a href="/api/export/pdf?reportname=TwoSimpleLists">/api/export/pdf?reportname=TwoSimpleLists</a>
<br /><a href="/api/export/excel?reportname=TwoSimpleLists">/api/export/excel?reportname=TwoSimpleLists</a>
<br /><a href="/api/export/html?reportname=TwoSimpleLists">/api/export/html?reportname=TwoSimpleLists</a>
