@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Show Report in the Viewer</h2>

@Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
{
    Actions =
        {
            GetReportSnapshot = "GetReportSnapshot",
            ViewerEvent = "ViewerEvent"
        },
    Appearance =
        {
            FullScreenMode = true
        }
})