@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "Default cache helper";
}

<h2>Default cache helper</h2>
<br />

@Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
{
    Actions =
    {
        GetReport = "GetReport",
        ViewerEvent = "ViewerEvent"
    }
})