@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Using Custom Save Dialog in the DesignerFx</h2>

@Html.Stimulsoft().StiMvcDesignerFx(new StiMvcDesignerFxOptions()
{
    Actions =
    {
        GetReportTemplate = "GetReportTemplate",
        GetReportSnapshot = "GetReportSnapshot",
        SaveReportTemplate = "SaveReportTemplate",
        DesignerEvent = "DesignerEvent"
    },
    Behavior =
    {
        SaveReportTemplateMode = StiSaveMode.Visible
    },
})