@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Edit Report in the DesignerFx</h2>

@Html.Stimulsoft().StiMvcDesignerFx(new StiMvcDesignerFxOptions()
{
    Actions =
    {
        GetReport = "GetReport",
        PreviewReport = "PreviewReport",
        DesignerEvent = "DesignerEvent"
    }
})