@using Stimulsoft.Report.MvcMobile;

@{
    ViewBag.Title = "Index";
}

<h2>Edit Report in the Designer</h2>

@Html.Stimulsoft().StiMvcMobileDesigner("StiMvcDesigner1", new StiMvcMobileDesignerOptions()
{
    ActionGetReportTemplate = "GetReportTemplate",
    ActionGetReportSnapshot = "GetReportSnapshot",
    ActionSaveReportTemplate = "SaveReportTemplate",
    ActionDesignerEvent = "DesignerEvent"
})