<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/dtree.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/dtree.js"></script>
    <script type="text/javascript" src="~/Scripts/reports.js"></script>
</head>
<body>
    <table class="main" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td class="menu">
                <a href="https://www.stimulsoft.com/en/products/reports-web" target="_blank"><img alt="Logo" src="~/Content/Images/logoweb.png" style="border: 0;" /></a>
                <div style="height: 2px; border-top: dashed 1px #c8c8c8; padding:3px;"></div>
                <div style="overflow: auto; position: absolute; top: 80px; bottom: 50px; left: 0px; width: 300px;">
                    <script type="text/javascript">buildReportTree();</script>
                </div>
            </td>
            <td class="line" rowspan="2">
                <div class="line"></div>
            </td>
            <td class="viewer" rowspan="2">
                @RenderBody()
            </td>
        </tr>
        <tr>
            <td class="link">
                <div style="height: 2px; border-top: dashed 1px #c8c8c8; padding:3px;"></div>
                <a href="http://www.stimulsoft.com/" target="_blank"><img class="link" alt="www.stimulsoft.com" border="0" src="/Content/Images/hyperlink.png" /></a>
            </td>
        </tr>
    </table>

</body>
</html>
